<!DOCTYPE html>
<html lang="eng">
  </head>
    <title>My Timetable</title>
  </head>
  <body>
    <table border=1 align="center">
    <tr>
        <th colspan=10><img src="logo.png" width="600"></img></th>
    </tr>
    <tr>
    <th colspan=10>Time Table</th>
   </tr>
    <tr>
       <td colspan=3>Reference number:</td>
       <td colspan=3>22007303</td>
       <td colspan=3>Name:</td>
       <td colspan=3>Ronick Aakshath P</td>
    </tr>
    <tr>
       <td>Days</td>
       <td>1</td>
       <td>2</td>
       <td>3</td>
       <td>4</td>
       <td rowspan=6>Lunch Break</td>
       <td>5</td>
       <td>6</td>
       <td>7</td>
       <td>8</td>
    </tr>
    <tr>
       <td>Monday</td>
       <td>19AI404/Karthi G</td>
       <td>19AI404/Karthi G</td>
       <td>19MA220/Akila P Mohan</td>
       <td>19MA220/Akila P Mohan</td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>
    <tr>
       <td>Tuesday</td>
       <td>19AI404/Karthi G</td>
       <td>19AI404/Karthi G</td>
       <td></td>
       <td></td>
       <td>19EE404/Anish Kumar J</td>
       <td>19EE404/Anish Kumar J</td>
       <td>19AI303/Akila P Mohan</td>
       <td>19AI303/Akila P Mohan</td>
    </tr>
    <tr>
       <td>Wednesday</td>
       <td>19MA220/Akila P Mohan</td>
       <td>19MA200/Akila P Mohan</td>
       <td>19EN101/Sunitha Deva Kumari</td>
       <td>19EN101/Sunitha Deva Kumari</td>
       <td>19EE404/Anish Kumar J</td>
       <td>19EE404/Anish Kumar J</td>
       <td></td>
       <td></td>
     </tr>
     <tr>
        <td>Thursday</td>
        <td></td>
        <td></td>
        <td></td>
        <td>19PH214/Ramki C</td>
        <td></td>
        <td></td>
        <td>19AI301C/Akila P Mohan</td>
        <td>19AI301C/Akila P Mohan</td>
     </tr>
     <tr>
        <td>Friday</td>
        <td></td>
        <td></td>
        <td>19PH214/Ramki C</td>
        <td>19PH214/Ramki C</td>
        <td>19AI414/Karthi G</td>
        <td>19AI414/Karthi G</td>
        <td>19EN101/Sunitha Deva Kumari</td>
        <td>19EN101/Sunitha Deva Kumari</td>
   </tr>
  </table>
  <br><center>1.19AI414-Web App Dev</center></br>
  <br><center>2.19AI301C-Python programming</center></br>
  <br><center>3.19MA220-Math for AI</center></br>
  <br><center>4.19EE404-Digital Electronics</center></br>
  <br><center>5.19EN101-Communicative English</center></br>

</body>
</html>
